Main()
{
    local argc argv;
    argc="$BASH_ARGC";
    argv="$@";

    case "$@" in
        *EOF)
            E_OUT=$E_EOF;
            ;;
        "")
            E_OUT=$E_EMPTY;
            ;;
        *)
            echo "HELLO WORLD";
            E_OUT=0;
            ;;
    esac;
    
    return "$E_OUT";
};

